<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
    		http://mybatis.org/schema/mybatis-spring 
            http://mybatis.org/schema/mybatis-spring.xsd 
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.3.xsd ">
           
           
			<!-- 扫描Dao接口和Mapping.xml并注册为Bean -->
			<mybatis:scan base-package="com.ustc.se.bbs.dao"/>
			<!-- 扫描Entity并注册为Bean, 扫描ServiceImpl并注册为Bean-->
			<context:component-scan base-package="com.ustc.se.bbs.entity,com.ustc.se.bbs.serviceimpl"/>
			
		  	<!-- 加载配置文件 -->
		    <bean id="propertyConfigurer"
		        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		        <property name="locations">
		            <list>
		                <value>classpath:jdbc.properties</value>
		            </list>
		        </property>
		    </bean>
			<!-- 配置数据源 -->
		    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
				<property name="driverClassName" value="${jdbc.driverClassName}"/>
		        <property name="url" value="${jdbc.url}" />
		        <property name="username" value="${jdbc.username}" />
		        <property name="password" value="${jdbc.password}" />
		    </bean>
			<!-- 配置SqlSessionFactory -->
			<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
					<property name="dataSource" ref="dataSource"></property>
					<property name="mapperLocations" value="classpath:com/ustc/se/bbs/mapping/*.xml"></property>
			</bean>
</beans>